examples/auto-triage-feedback.json
{
  "name": "SeggWat: Auto-Triage Feedback",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "seggwat-feedback-webhook",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "get",
        "projectId": "={{ $json.project_id }}",
        "feedbackId": "={{ $json.feedback_id }}"
      },
      "id": "get-feedback",
      "name": "Get Feedback",
      "type": "n8n-nodes-seggwat.seggwatFeedback",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "seggwatApi": {
          "id": "1",
          "name": "SeggWat API"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.toLowerCase() }}",
                    "rightValue": "bug",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "output": 0
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.toLowerCase() }}",
                    "rightValue": "feature",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "output": 1
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.toLowerCase() }}",
                    "rightValue": "love",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "output": 2
            }
          ],
          "fallbackOutput": 3
        },
        "options": {}
      },
      "id": "switch-keywords",
      "name": "Categorize by Keywords",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "projectId": "={{ $('Get Feedback').item.json.project_id }}",
        "feedbackId": "={{ $('Get Feedback').item.json.id }}",
        "updateFields": {
          "type": "Bug",
          "status": "Active"
        }
      },
      "id": "update-bug",
      "name": "Set as Bug",
      "type": "n8n-nodes-seggwat.seggwatFeedback",
      "typeVersion": 1,
      "position": [850, 140],
      "credentials": {
        "seggwatApi": {
          "id": "1",
          "name": "SeggWat API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "projectId": "={{ $('Get Feedback').item.json.project_id }}",
        "feedbackId": "={{ $('Get Feedback').item.json.id }}",
        "updateFields": {
          "type": "Feature",
          "status": "New"
        }
      },
      "id": "update-feature",
      "name": "Set as Feature",
      "type": "n8n-nodes-seggwat.seggwatFeedback",
      "typeVersion": 1,
      "position": [850, 280],
      "credentials": {
        "seggwatApi": {
          "id": "1",
          "name": "SeggWat API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "projectId": "={{ $('Get Feedback').item.json.project_id }}",
        "feedbackId": "={{ $('Get Feedback').item.json.id }}",
        "updateFields": {
          "type": "Praise",
          "status": "Resolved"
        }
      },
      "id": "update-praise",
      "name": "Set as Praise",
      "type": "n8n-nodes-seggwat.seggwatFeedback",
      "typeVersion": 1,
      "position": [850, 420],
      "credentials": {
        "seggwatApi": {
          "id": "1",
          "name": "SeggWat API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "projectId": "={{ $('Get Feedback').item.json.project_id }}",
        "feedbackId": "={{ $('Get Feedback').item.json.id }}",
        "updateFields": {
          "type": "Other",
          "status": "New"
        }
      },
      "id": "update-other",
      "name": "Set as Other",
      "type": "n8n-nodes-seggwat.seggwatFeedback",
      "typeVersion": 1,
      "position": [850, 560],
      "credentials": {
        "seggwatApi": {
          "id": "1",
          "name": "SeggWat API"
        }
      }
    },
    {
      "parameters": {
        "channel": "#feedback",
        "text": "=New feedback triaged!\n\n*Type:* {{ $json.type }}\n*Status:* {{ $json.status }}\n*Message:* {{ $json.message }}\n\n<{{ $json.path }}|View in SeggWat>",
        "otherOptions": {}
      },
      "id": "slack-notify",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1100, 300],
      "credentials": {
        "slackApi": {
          "id": "2",
          "name": "Slack API"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Feedback": {
      "main": [
        [
          {
            "node": "Categorize by Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categorize by Keywords": {
      "main": [
        [
          {
            "node": "Set as Bug",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set as Feature",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set as Praise",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set as Other",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set as Bug": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set as Feature": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set as Praise": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set as Other": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "SeggWat",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "Feedback",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
