examples/low-rating-alert.json
{
  "name": "SeggWat: Low Rating Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "list",
        "projectId": "YOUR_PROJECT_ID",
        "returnAll": false,
        "limit": 100,
        "filters": {
          "value": "false"
        }
      },
      "id": "list-negative-ratings",
      "name": "List Negative Ratings",
      "type": "n8n-nodes-seggwat.seggwatRating",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "seggwatApi": {
          "id": "1",
          "name": "SeggWat API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "largerEqual",
              "value2": 10
            }
          ]
        }
      },
      "id": "check-count",
      "name": "More than 10?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "stats",
        "projectId": "YOUR_PROJECT_ID",
        "pathFilter": ""
      },
      "id": "get-stats",
      "name": "Get Rating Stats",
      "type": "n8n-nodes-seggwat.seggwatRating",
      "typeVersion": 1,
      "position": [850, 200],
      "credentials": {
        "seggwatApi": {
          "id": "1",
          "name": "SeggWat API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.helpful_percentage }}",
              "operation": "smaller",
              "value2": 70
            }
          ]
        }
      },
      "id": "check-percentage",
      "name": "Below 70%?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "fromEmail": "alerts@yourcompany.com",
        "toEmail": "product-team@yourcompany.com",
        "subject": "⚠️ Low Rating Alert - SeggWat",
        "text": "=Alert: Your helpfulness rating has dropped below 70%!\n\nCurrent Stats:\n- Total Ratings: {{ $json.total }}\n- Helpful: {{ $json.helpful }} (👍)\n- Not Helpful: {{ $json.not_helpful }} (👎)\n- Helpfulness: {{ $json.helpful_percentage }}%\n\nThis alert triggered because:\n1. More than 10 negative ratings in the last hour\n2. Overall helpfulness dropped below 70%\n\nPlease review your documentation and content.\n\nBest,\nSeggWat Automation",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1250, 100],
      "credentials": {
        "smtp": {
          "id": "3",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "channel": "#alerts",
        "text": "=:warning: *Low Rating Alert*\n\nHelpfulness rating dropped below 70%!\n\n• Total: {{ $json.total }} ratings\n• Helpful: {{ $json.helpful }} ({{ $json.helpful_percentage }}%)\n• Not Helpful: {{ $json.not_helpful }}\n\n<https://seggwat.com/dashboard|View Dashboard>",
        "otherOptions": {}
      },
      "id": "slack-alert",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1250, 260],
      "credentials": {
        "slackApi": {
          "id": "2",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-action",
      "name": "No Action Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {},
      "id": "stats-ok",
      "name": "Stats OK",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1250, 400]
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "List Negative Ratings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Negative Ratings": {
      "main": [
        [
          {
            "node": "More than 10?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "More than 10?": {
      "main": [
        [
          {
            "node": "Get Rating Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Action Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rating Stats": {
      "main": [
        [
          {
            "node": "Below 70%?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Below 70%?": {
      "main": [
        [
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stats OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "SeggWat",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "Ratings",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "Alerts",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
